<div ng-include="'partials/navbar.html'" /></div>

<div class="container-fluid">
  <div class="jumbotron jumbotron-sm" style="padding: 0.5em 0.6em">
    <div class="container">
      <div class="row"s>
        <div class="col-sm-12 col-lg-12">
          <h1 class="h1">
            Locations <small>monitor drivers' location</small>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="well well-sm">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Location</label>
                  <input type="text" class="form-control" ng-model="locationForm.location" placeholder="E.g. Saburtalo Street #67" />
                </div>
                <div class="form-group">
                  <label for="subject">Driver</label>
                    <select ng-model="locationForm.selectedDriver" ng-options="driver.name for driver in drivers" class="form-control">
                  </select>
                </div>
                <button type="submit" class="btn btn-primary pull-right" ng-click="updateLocation()">
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well well-sm">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="filter.driver" placeholder="Filter..." />
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Driver</th>
                <th>Location</th>
                <th>Last Update</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="driver in drivers | filter:filter.driver | orderBy:driver.name" >
                <td>{{ driver.name | uppercase }}</td>
                <td>{{ driver.location.name }}</td>
                <td>{{ driver.locationLastUpdateTime }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'partials/footer.html'" /></div>
